* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    position: relative;
    font-family: 'Gilroy', sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    background: linear-gradient(277.66deg, rgba(31, 43, 75, 0.2) 62.43%, #050A15 99.58%), 
    linear-gradient(101.96deg, rgba(31, 43, 75, 0.2) 67.96%, #050A15 87.96%), 
    linear-gradient(139.19deg, #2B0300 63.14%, #270401 85.73%);

}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: 0;
    background: none;
}
main {
    position: relative;
    overflow: hidden;
    background: linear-gradient(277.66deg, rgba(31, 43, 75, 0.2) 62.43%, #050A15 99.58%), 
    linear-gradient(101.96deg, rgba(31, 43, 75, 0.2) 67.96%, #050A15 87.96%), 
    linear-gradient(139.19deg, #2B0300 63.14%, #270401 85.73%);
}

/* header */

.header {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background-size: 100%;
    background-image: url(../img/header/phon.png);
    object-fit: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.header-spark {
    position: absolute;
    mix-blend-mode: screen;
}
.header-spark--right {
    left: 76%;
}
.header-popcorn {
    position: absolute
}
.header-proj {
    position: absolute;
    left: 75%;
    /* top: -10px; */
}
.header-smoke {
    position: absolute;
}
.header-smoke--left {
    bottom: 5%;
}
.header-smoke--right {
    z-index: 10;
    top: 17%;
    left: 54%;
}
.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 59px;
}
.header-top-left {
    display: flex;
    flex-direction: row;
}
.header-top-left p {
    color: #FFFFFF;
    font-weight: 200;
    opacity: 0.5;
}
.header-top-left--logo__logo {
    width: 49px;
    height: 36px;
    margin-left: 35px;
    margin-bottom: -10px;
}
.header-top-left--logo__text {
    font-size: 13px;
    text-transform: uppercase;
}
.header-top-left__text {
    margin-left: 41px;
    font-size: 14px;
    line-height: 18px;
}
.header-top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
}
.header-top-right__phonenum {
    margin-top: 2px;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}
.header-top-right__order {
    position: relative;
    margin-top: 0;
    color: #C61508;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    /* text-decoration: underline; */
}
.header-top-right__order::after {
    content: "";
    position: absolute;
    top: 105%;
    display: block;
    background: none;
    height: 0;
    width: 100%;
    border-bottom: 1.5px solid #C61508;

}
.header-main {
    position: relative;
    color: #fff;
    margin-top: 117px;
}
.header-main__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}
.header-main__title--red {
    color: #C61508; 
}
.header-main__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
}
.header-main__text--red {
    color: #C61508; 
}
.header-main__button {
    position: relative;
    z-index: 4;
    margin-top: 69px;
    background: linear-gradient(180deg, #C61508 0%, #C61508 0.01%, #940606 100%);
    box-shadow: 0px 12px 40px rgba(198, 21, 8, 0.3), inset 0px -15px 20px rgba(111, 224, 158, 0.15);
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    transition: all 0.6s ease;
}
.header-main__button:hover {
    transition: all 0.6s ease;
    box-shadow: none;
}
.header-main__button--text {
    display: block;
    padding: 30px 70px 30px 70px;
}
.header-autor {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: -150px;
    margin-top: 50px;
    text-align: right; 
    /* flex-direction: row-reverse;
    background-image: url(../img/header/autor.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.header-autor-desc {
    position: absolute;
    top: 60%;
    left: -50%;
}
.header-autor__desc--title {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 5px;
}
.header-autor__desc--text {
    margin-top: 0;
    font-size: 16px;
    font-weight: 100;
    opacity: 0.4;
    color: #fff;

}
.header-bottom {
    position: relative;
    background-image: url(../img/header/hb-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 280px;
}
.header-bottom__title {
    position: relative;
    z-index: 3;
    margin-top: 55px;
    

    text-align: center;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: #161616;
}
.header-bottom-desc {
    position: relative;
    margin-left: 117px;

    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #161616;
}
.header-bottom-desc::before {
    position: absolute;

    content: "";
    border: 3px solid #C61508;
    background: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
    left: -30px;
    top: 10px;
}
.header-bottom-desc:first-child {
    margin-top: 55px;
}
.header-bottom-desc:not(:first-child) {
    margin-bottom: 24px;
}
.header-bottom-desc:last-child {
    margin-bottom: 55px;
}
.header-bottom__spark {
    position: absolute;
    mix-blend-mode: screen;
    z-index: 2;
    top: 0;
}
.header__cracker {
    position: absolute;
    /* mix-blend-mode: screen; */
    z-index: 3;
    background-size: cover;
    bottom: -10px;
    left: -50px;
}
.header-bot__spark {
    position: absolute;
    mix-blend-mode: screen;
    z-index: 2;
    top: 4%;
    opacity: 0.5;
}

/* invest */

.invest {
    position: relative;
    overflow: hidden;
    background-image: url(../img/invest/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}
.header-invest__spark--right {
    overflow: hidden;
    position: absolute;
    transform: translateY(-1200px);
    left: 50%;
    mix-blend-mode: screen;
    z-index: 2;
}
.invest__spark--left {
    position: absolute;
    mix-blend-mode: screen;
    transform: translateY(-100px);
    z-index: 2;
}
.invest__money--fire {
    /* overflow: hidden; */
    position: absolute;
    transform: translateY(-250px);
    left: 47%;
    mix-blend-mode: screen;
    z-index: 1;
}
.invest-title {
    margin-bottom: 41px;
}
.invest-title__text {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0.01em;

    color: #fff;
}
.invest-title__text--red {
    color: #C61508; 
}
.invest-desc__text:first-child {
    margin-bottom: 33px;
}
.invest-desc__text {
    margin-top: 0;
    font-weight: 200;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}
.invest-deposit__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.invest-deposit__title--green {
    color: #08C610;
}
.invest-deposit-desc {
    display: flex;
    flex-direction: row;
}

.invest-deposit-desc__bank {
    object-fit: contain;
}
.invest-deposit-desc-text {
    margin-left: 19px;
}
.invest-deposit-desc__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}
.invest-lose {
    transform: translate(80px, 160px);
}
.invest-lose-card {
    background-image: url(../img/invest/card-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 30px 30px 70px;
}
.invest-lose-card-desc__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #161616;
}
.invest-math {
    margin-top: 58px;
}
.invest-math__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.invest-math__title--red {
    color: #C61508; 
}
.invest-math__title--green {
    color: #08C610;
}
.invest-math-desc:first-child {
    margin-top: 30px;
}
.invest-math-desc:not(:last-child) {
    margin-bottom: 40px;
}
.invest-math-desc__text {
    font-weight: 200;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}
.invest__autor {
    position: absolute;
    transform: translateY(420px);
    left: 57%;
    z-index: 3;
}
.invest__arrow {
    position: absolute;
    transform: translateY(820px);
    left: 57%;
    z-index: 1;
}
.invests__chair {
    position: absolute;
    transform: translateY(-300px);
}

/* invest continue */

.investcont {
    margin-top: 65px;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-image: url(../img/invest-cont/bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    object-fit: contain;
    padding-bottom: 40px;
}
.investcont__explosion {
    position: absolute;
}
.investcont__fire {
    position: absolute;
    left: 64%;
    top: 35%;
    z-index: 5;
}
.invests__spark {
    position: absolute;
    left: 70%;
    transform: translateY(-100px);
    mix-blend-mode: screen;
}
.investcont-content {
    transform: translateX(50px);
}
.investcont__title {
    margin-top: 95px;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
}
.investcont__title--green {
    color: #08C610;
}
.investcont-desc__text {
    font-weight: 200;
    font-size: 22px;
    line-height: 140%;
}
.investcont-desc__text:first-child {
    margin-bottom: 50px;
    margin-top: 47px;
}
.investcont-time__title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    text-transform: uppercase;
}
.investcont-time__title--red {
    color: #C61508;
}
.investcont-time-card {
    transform: translateX(-50px);
    max-width: 809px;
    min-height: 320px;
    background-color: #fff;
    background-image: url(../img/invest-cont/card-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    border-radius: 30px;
}
.investcont-time-card-content {
    padding: 52px 50px 51px 57px;
}
.investcont-time-card-content__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #161616;
}

/* who is */

.whois {
    position: relative;
    overflow: hidden;
    background-image: url(../img/who-is/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    color: #FFFFFF;
    padding-bottom: 50px;
}
.whois__spark {
    position: absolute;
    mix-blend-mode: screen;
    transform: translateY(100px);
}
.whois__tickets {
    position: absolute;
    transform: translateY(300px);
}
.who-is-autor {
    position: relative;
}
.whois__autor {
    position: absolute;
    left: 56%;
    transform: translateY(-100px);
}
.whois__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.whois__title--red {
    color: #C61508;
}
.whois__lowertitle {
    font-weight: 900;
    font-size: 22px;
    line-height: 140%;
    text-transform: uppercase;
}
.whois__lowertitle--red {
    color: #C61508;
}
.whois-card {
    max-width: 809px;
    min-height: 350px;
    background-color: #fff;
    background-image: url(../img/who-is/card-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    border-radius: 30px;
}
.whois-card-desc {
    padding: 38px 48px 38px 67px;
}
.whois-card-desc__text {
    position: relative;
    color: #161616;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
}
.whois-card-desc__text::before {
    position: absolute;

    content: "";
    border: 2px solid #C61508;
    background: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    left: -20px;
    top: 11px;
}
.whois-myway__text:first-child {
    margin-top: 40px;
    margin-bottom: 40px;
}
.whois-myway__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
}
.whois-button {
    position: relative;
    background: linear-gradient(180deg, #C61508 0%, #C61508 0.01%, #940606 100%);
    box-shadow: 0px 12px 40px rgba(198, 21, 8, 0.3), inset 0px -15px 20px rgba(111, 224, 158, 0.15);
    border-radius: 12px;
    padding: 30px 62px;
    margin-top: 42px;
    transition: all 0.6s ease;
}
.whois-button-content__book {
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.whois-button-content__case {
    position: absolute;
    top: -50%;
    right: -40px;
}
.whois-button:hover {
    transition: all 0.6s ease;
    box-shadow: none;
}

/* wish */

.wish {
    position: relative;
    padding-bottom: 500px;
    color: #fff;
}
.wish__boster {
    position: absolute;
    max-width: 960px;
    bottom: 0;
    right: 0;
}
.wish-spark {
    position: relative;
}
.wish_spark--left {
    position: absolute;
    max-height: 1180px;
    transform: translateY(-1000px);
    mix-blend-mode: screen;
    z-index: 0;
}
.wish__spark--right {
    position: absolute;
    max-height: 1080px;
    transform: translateY(-600px);
    right: 0;
    mix-blend-mode: screen;
    z-index: 0;
}
.wish__autor {
    position: absolute;
    z-index: 1;
}
.wish__graph {
    position: absolute;
    right: 0;
    max-width: 702px;
    top: -20%;
}
.wish__oscar {
    position: absolute;
    top: 10%;
    right: 20%;
    max-width: 200px;
}
.wish__title {
    margin-top: 100px;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
}
.wish__title--red {
    color: #C61508;
}
.wish-desc-el {
    display: flex;
    flex-direction: row;
}
.wisc-desc-el__text {
    margin-left: 37px;
}
.wisc-desc-el__text--2 {
    margin-left: 20px;
}
.wish-desc-el__img--coins {
    max-width: 86px;
}
.wish-desc-el__img--car {
    max-width: 101px;
}
.wish-desc-el__img--money-tree {
    max-width: 87px;
}

/* course */

.course {
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-bottom: 20px;
}
.course__bg {
    position: absolute;
    max-width: 1920px;
    top: -200px;
    height: auto;
}
.course__oscar {
    position: absolute;
    max-height: 1000px;
    transform: translateY(100px);
}
.course__fire {
    position: absolute;
    max-height: 1300px;
    transform: translateY(500px);
    right: 0;
}
.course-bullets {
    border-top: 1px solid #fff;
    max-width: 900px;
}
.course-bullets-el {
    border-bottom: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
    /* transition: all 0.6s ease; */
}
.course-bullets-el-button {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 70px;
    transform: rotate(0.125turn);
    transition: all 0.6s ease;
}
.course-bullets-el-button--8 {
    top: 55px;
}
.course-bullets-el-button:hover {
    opacity: 0.2;
    transition: all 0.6s ease;
}
.course-bullets-el-button--onclick {
    transform: none;
    transition: all 0.6s ease;
}
.course-bullets-el-button__line {
    position: absolute;
}
.course__title-upper {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.course__title-upper--red {
    color: #C61508;
}
.course__title-upper--green {
    color: #08C610;
}
.course__title-lower {
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.course__title-lower--red {
    color: #C61508;
}
.course-bullets {
    margin-left: 17%;
}
.course-bullets-el-title__title {
    color: #C61508;
    font-weight: 900;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
}
.course-bullets-el-title__quest {
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
}
.course-bullets-el-descs {
    display: none;
    font-weight: 200;
    font-size: 22px;
    line-height: 130%;
    /* transition: all 0.6s ease; */
}

.course-bullets-el-descs__desc {
    position: relative;
    margin-left: 78px;
}
.course-bullets-el-descs__desc::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 0;
    top: 50%;
    left: -75px;
    border-top: 1px solid #fff;
}

/* game */

.game {
    padding-top: 150px;
    position: relative;
    overflow: hidden;
    color: #fff;
}
.game__spark--left {
    position: absolute;
    mix-blend-mode: screen;
    max-width: 400px;
    transform: translateY(40px);
    opacity: 0.5;
}
.game__spark--right {
    position: absolute;
    right: 0;
    mix-blend-mode: screen;
    max-width: 505px;
}
.game__autor {
    position: absolute;
    max-width: 900px;
    right: 0;
    transform: translateY(-100px);
}
.game__explosion {
    position: absolute;
    max-width: 400px;
    transform: translateY(450px);
}
.game__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
}
.game__title--red {
    color: #C61508;
}
.game-desc__text:first-child {
    margin-bottom: 40px;
}
.game-desc__text:last-child {
    margin-top: 40px;
}
.game-desc__text {
    font-weight: 200;
    font-size: 22px;
    line-height: 130%;
}
.game-card {
    position: relative;
    z-index: 2;
    background-color: #fff;
    background-image: url(../img/game/card-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    max-height: 436px;
    max-width: 763px;
    padding: 12px 54px 13px 54px;
    margin-bottom: 54px;
    margin-top: 26px;
}
.game-card-content__desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #000000;
}
.game-button {
    position: relative;
    z-index: 4;
    margin-top: 29px;
    background: linear-gradient(180deg, #C61508 0%, #C61508 0.01%, #940606 100%);
    box-shadow: 0px 12px 40px rgba(198, 21, 8, 0.3), inset 0px -15px 20px rgba(111, 224, 158, 0.15);
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 30px 84px 30px 84px;
    transition: all 0.6s ease;
}
.game-button:hover {
    box-shadow: none;
    transition: all 0.6s ease;
}
.game__arrow {
    position: absolute;
    transform: translate(60px, 50px);
}
.card-bullets {
    margin-top: 104px;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
}
.card-bullets-bullet:not(:first-child) {
    margin-left: 47px;
}
.card-bullets-bullet__coins-ladder {
    max-width: 186px;
}
.card-bullets-bullet__button-img {
    max-width: 163px;
}
.card-bullets-bullet__stone-road {
    max-width: 277px;
}
.card-bullets-bullet__money-bag {
    max-width: 214px;
}
.game__smoke--left {
    position: absolute;
    bottom: 100px;
    max-width: 605px;
    transform: translateY(100px);
}
.game__smoke--right {
    position: absolute;
    right: 0;
    bottom: 100px;
    max-width: 855px;
    transform: translateY(100px);
}

/* reviews */

.reviews {
    position: relative;
    overflow: hidden;
    color: #fff;
    padding-top: 53px;
}
.reviews__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.reviews-slider {
    position: relative;
}
.reviews-slider-slide {
    position: relative;
    z-index: 2;
    background-color: #fff;
    background-image: url(../img/reviews/review-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    color: #152536;
    max-width: 830px;
    padding: 30px 50px 30px 50px;
    margin-left: 80px;
    margin-right: 80px;

}
.reviews-slider-slide-name__photo {
    max-width: 60px;
    max-height: 60px;
    margin-right: 25px;
}
.reviews-slider-slide-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reviews-slider-slide-name-content__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 5px;
}
.reviews-slider-slide-name-content__social {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #C61508;
    margin-top: 5px;
}
.reviews-slider-slide__review {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.reviews-slider__dots {
    display: flex;
    flex-direction: row;
    transform: translate(42%, -130px);
    transition: all 0.6s ease;
}
.reviews-slider__dots li {
    list-style: none;
    line-height: 0;
    font-size: 0;
    width: 20px;
}
.reviews-slider__dots li button {
    position: relative;
    /* transition: all 0.6s ease; */
}
.reviews-slider__dots li button::before {
    content: "•";
    /* position: absolute; */
    height: 20px;
    width: 30px;
    line-height: 20px;
    font-size: 20px;
    color: grey;
    /* transition: all 0.6s ease; */
}
.reviews-slider__dots .slick-active button::before {
    content: "";
    /* position: absolute; */
    height: 0;
    width: 30px;
    background: #C61508;
    border: 2px solid #C61508;
    border-radius: 20px;
    padding: 0;
    color: #C61508;
    transition: all 0.6s ease;
    transform: rotate(180deg);
}
.reviews-slider__dots .slick-active button {
    transform: rotate(90deg);
}
.reviews-slider__dots .slick-active {
    width: 40px;
    text-align: center;
}
.reviews-slider--down {
    transform: translate(42%, -10px);
    transition: all 0.6s ease;
}
.reviews-slider--up3 {
    transform: translate(42%, -160px);
    transition: all 0.6s ease;
}
.reviews-slider--up4 {
    transform: translate(42%, -190px);
    transition: all 0.6s ease;
}
.slick-slide {
    opacity: 0.1;
    transition: all 0.6s ease;
}
    
.slick-active {
    opacity: 1;
    transition: all 0.6s ease;
}
.reviews-slider__arrowPrev {
    position: absolute;
    background-color: #C61508;
    box-shadow: 0px 10px 25px rgba(198, 21, 8, 0.37);
    border-radius: 12px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    top: 0;
    transform: translate(22vw, 150px);
    z-index: 20;
    transition: all 0.6s ease;
}
.reviews-slider__arrowPrev:hover {
    box-shadow: none;
    background-color: #370400;
    transition: all 0.6s ease;
}
.reviews-slider__arrowPrev--img {
    margin-top: 22px;
    margin-left: 20px;
    cursor: pointer;
}
.reviews-slider__arrowNext {
    top: 0;
    position: absolute;
    background-color: #C61508;
    box-shadow: 0px 10px 25px rgba(198, 21, 8, 0.37);
    border-radius: 12px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    top: 0;
    right: 0;
    transform: translate(-22vw, 150px);
    z-index: 20;
    transition: all 0.6s ease;
}
.reviews-slider__arrowNext:hover {
    box-shadow: none;
    background-color: #370400;
    transition: all 0.6s ease;
}
.reviews-slider__arrowNext--img {
    margin-top: 22px;
    margin-left: 20px;
    cursor: pointer;
}
.reviews-slider__arrowNext--down {
    transform: translate(-22vw, 190px);
    transition: all 0.6s ease;
}
.reviews-slider__arrowNext--up3 {
    transform: translate(-22vw, 130px);
    transition: all 0.6s ease;
}
.reviews-slider__arrowNext--up4 {
    transform: translate(-22vw, 110px);
    transition: all 0.6s ease;
}
.reviews-slider__arrowPrev--down {
    transform: translate(22vw, 190px);
    transition: all 0.6s ease;
}
.reviews-slider__arrowPrev--up3 {
    transform: translate(22vw, 130px);
    transition: all 0.6s ease;
}
.reviews-slider__arrowPrev--up4 {
    transform: translate(22vw, 110px);
    transition: all 0.6s ease;
}
.reviews-smoke__smoke--left {
    position: absolute;
    transform: translateY(-850px);
    max-width: 600px;
}
.reviews-smoke__smoke--right {
    position: absolute;
    transform: translateY(-1450px);
    max-width: 600px;
    right: 0;
}

/* tariff */

.tariff {
    position: relative;
    overflow: hidden;
    background-image: url(../img/tariff/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    color: #FFFFFF;
    padding-bottom: 450px;
    padding-top: 50px;
    margin-top: 50px;
}
.tariff__spark {
    position: absolute;
    mix-blend-mode: screen;
    max-width: 489px;
}
.tariff__ellipse {
    position: absolute;
    max-height: 1716px;
    right: 0;
    transform: translateY(200px);
}
.tariff__popcorn {
    position: absolute;
    max-width: 400px;
    right: 0;
}
.tariff-bottom__img {
    position: absolute;
    max-width: 1920px;
    transform: translateY(-650px);
}
.tariff__title-top {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.tariff__title-top--green {
    color: #08C610;
}
.tariff__title-bottom {
    font-weight: 900;
    font-size: 39px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 300px;
}
.tariff__title-bottom--red {
    color: #C61508;
}
.tariff-complects-includes__desc {
    position: relative;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    padding-bottom: 30px;
}
.tariff-complects-includes__desc::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    border: 0.7px solid #fff;
    opacity: 0.05;
}
.tariff-complects-includes__desc:not(:last-child) {
    margin-bottom: 40px;
}
.tariff-complects-complect {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-300px, 500px);
}
.tariff-complects-complect-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 332px;
    margin-right: 23px;
    border: 6px solid #C61508;
    box-sizing: border-box;
    border-radius: 30px;
}
.tariff-complects-complect-standart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 322px;
    border: 6px solid #08C610;
    box-sizing: border-box;
    border-radius: 30px;
}
.tariff-complects-complect-base__desc, .tariff-complects-complect-standart__desc {
    font-weight: 999;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
}
.tariff-complects-complect__check, .tariff-complects-complect__dagger {
    max-width: 45px;
    max-height: 45px;
    margin-bottom: 55px;
}
.dagger-last, .check-last {
    margin-top: 15px;
}
.tariff-complects-complect-base__duration, .tariff-complects-complect-standart__duration {
    font-weight: 900;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 80px;
}
.tariff-complects-complect-base-price__desc, .tariff-complects-complect-standart-price__desc {
    font-weight: 900;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.5;
}
.tariff-complects-complect-base-price__price, .tariff-complects-complect-standart-price__price {
    font-weight: 900;
    font-size: 39px;
    margin-top: -10px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
}
.tariff-complects-complect-base-price__price--lower, .tariff-complects-complect-standart-price__price--lower {
    font-size: 19px;
}
.tariff-complects-complect-base-book-button {
    position: relative;
    z-index: 4;
    margin-top: -10px;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #C61508 0%, #C61508 0.01%, #940606 100%);
    box-shadow: 0px 12px 40px rgba(198, 21, 8, 0.3), inset 0px -15px 20px rgba(111, 224, 158, 0.15);
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    transition: all 0.6s ease;
    padding: 30px 24px 30px 24px;
}
.tariff-complects-complect-base-book-button:hover {
    box-shadow: none;
    transition: all 0.6s ease;
}
.tariff-complects-complect-standart-closed {
    position: relative;
    z-index: 4;
    margin-top: -10px;
    margin-bottom: 30px;
    background: #370400;
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 30px 44px;
    cursor:not-allowed;
}
.tariff-complects-complect-base-instal, .tariff-complects-complect-standart-instal {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 12px;
    line-height: 100%;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
    margin-bottom: 53px;
}
.tariff-complects-complect-standart-instal {
    opacity: 0.5;
}
.tariff-complects-complect-base-instal__desc, .tariff-complects-complect-standart-instal__desc {
    margin-right: 40px;
    color: #000;
    font-size: 14px;
}
.tariff-complects-complect-base-instal__price, .tariff-complects-complect-standart-instal__price {
    color: #C61508;
}

/* questions */

.questions {
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
    padding-bottom: 250px;
}
.questions__spark--left {
    position: absolute;
    mix-blend-mode: screen;
    max-height: 1200px;
}
.questions__spark--right {
    position: absolute;
    mix-blend-mode: screen;
    max-width: 800px;
    right: 0;
    transform: translateY(-220px);
}
.questions__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    /* margin-left: 5%; */
}
.questions__title--green {
    color: #08C610;
}
.questions-bullets {
    margin-left: 15%;
    max-width: 900px;
    margin-bottom: 200px;
}
.questions-bullets-el {
    border-bottom: 1px solid #fff;
}
.questions-bullets-el:first-child {
    border-top: 1px solid #fff;
}
.questions-bullets-el-title {
    font-weight: 900;
    font-size: 22px;
    line-height: 130%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.questions-bullets-el-title {
    position: relative;
}
.questions-bullets-el-title__button {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 50px;
    transition: all 0.6s ease;
    transform: rotate(0.125turn);
    z-index: 10;
}
.questions-bullets-el-title__button--1 {
    top: 70px;
}
.questions-bullets-el-title__button:hover {
    opacity: 0.2;
    transition: all 0.6s ease;
}
.questions-bullets-el-title__button--onclick {
    transform: none;
    transition: all 0.6s ease;
}
.questions-bullets-el__button--line {
    position: absolute;
}
.questions-bullets-el-desc {
    display: none;
}
.questions-bullets-el-desc {
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 50px;
}
.questions-bullets-el-desc__text:first-child {
    margin-bottom: 50px;
}
.questions-card {
    position: relative;
    color: #000;
    background-color: #fff;
    background-image: url(../img/game/card-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 20px 0px 60px 71px;
    max-width: 1246px;
    /* min-height: 432px; */
    transform: translateX(120px);
    z-index: 1;
}
.questions-card__brain {
    position: absolute;
    max-width: 320px;
    bottom: 0;
    transform: translate(160px, -200px);
    z-index: 1;
}
.questions__autor {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 735px;
    z-index: 1;
}
.questions__smoke {
    position: absolute;
    /* top: 0; */
    max-width: 700px;
    transform: translateY(-700px);
    z-index: -1;
}
.questions-card-content__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
}
.questions-card-content__title--red {
    color: #C61508;
}
.questions-card-content__desc {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 54px;
}
.questions-card-content__desc--red {
    color: #C61508;
    font-weight: 700;
}
.questions-card-content-button {
    position: relative;
    background: linear-gradient(180deg, #C61508 0%, #C61508 0.01%, #940606 100%);
    box-shadow: 0px 12px 40px rgba(198, 21, 8, 0.3), inset 0px -15px 20px rgba(111, 224, 158, 0.15);
    border-radius: 12px;
    padding: 30px 71px;
    transition: all 0.6s ease;
    cursor: pointer;
    z-index: 10;
}
.questions-card-content-button:hover {
    box-shadow: none;
    transition: all 0.6s ease;
}
.questions-card-content-button__content {
    color: #fff;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* morequests */

.morequests {
    position: relative;
    overflow: hidden;
    /* padding-bottom: 500px; */
}
.morequests__bg {
    position: absolute;
    max-width: 1620px;
    z-index: 0;
}
.morequests__smoke {
    position: absolute;
    max-height: 530px;
    right: 0;
    bottom: 0;
}
.quests__proj {
    position: absolute;
    max-width: 1920px;
    transform: translateY(-300px);
}
.morequests__spark--left {
    position: absolute;
    mix-blend-mode: screen;
    max-width: 600px;
    z-index: -1;
    transform: translateY(-100px);
}
.morequests__spark--right {
    position: absolute;
    mix-blend-mode: screen;
    max-width: 800px;
    right: 0;
    z-index: 0;
    transform: translateY(-300px);
}
.morequests-form {
    position: relative;
    color: #000;
    background-color: #fff;
    background-image: url(../img/quests-more/card-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    max-width: 667px;
    max-height: 688px;
    padding: 40px 76px 71px 76px;
    transform: translate(600px, 100px);
}
.morequests-form-content {
    display: flex;
    flex-direction: column;
}
.morequests-content__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
}
.morequests-content__title--red {
    color: #C61508;
}
.morequests-content__desc {
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    margin-top: -10px;
}
.morequests-content__input {
    background: none;
    border: 1px solid #000;
    font-size: 16px;
    margin-top: 20px;
    height: 76px;
    border-radius: 10px;
    padding-left: 23px;
}
.morequests-content-button {
    background: linear-gradient(180deg, #C61508 0%, #C61508 0.01%, #940606 100%);
    box-shadow: 0px 12px 40px rgba(198, 21, 8, 0.3), inset 0px -15px 20px rgba(111, 224, 158, 0.15);
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 30px 208px;
    transition: all 0.6s ease;
}
.morequests-content-button:hover {
    box-shadow: none;
    transition: all 0.6s ease;
}
.morequests-content-policy {
    font-size: 12px;
    line-height: 100%;
}
.morequests-content-policy__check {
    transform: translateY(2px);
    margin-right: 5px; 
}
input[type="checkbox"] {
    display: none;
}
label {
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    line-height: 13px;
    vertical-align: middle;
}
label:before {
    content: " ";
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    font-size: 10px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 13px;
    height: 13px;
    padding-left: 1px;
    background: #C61508;
    border-image: initial;
    vertical-align: middle;
    border-radius: 3px;
    transform: translateY(-2px);
}
input[type="checkbox"]:checked + label:before {
    content: "✔";
    background: #C61508;
    color: #fff;
}
input[type="checkbox"]:disabled + label:before {
    content: " ";
    background: #C61508;
    color: #fff;
}
.morequests-content-policy--underlined {
    border-bottom: 1px solid #000;
    color: #000;
    cursor: pointer;
    transition: all 0.1s ease;
}
.morequests-content-policy--underlined:hover {
    color: #C61508;
    border-bottom: 1px solid #C61508;
    transition: all 0.1s ease;
}
.morequests-policy {
    position: relative;
    margin-top: 338px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #949393;
    cursor: pointer;
    z-index: 2;
}
.morequests-policy__policy {
    border-bottom: 1px solid #949393;
    color: #949393;
    transition: all 0.1s ease;
}
.morequests-policy__policy:hover {
    color: #C61508;
    border-bottom: 1px solid #C61508;
    transition: all 0.1s ease;
}

/* adaptive */


/* header */

@media (max-width: 1809px) {
    .header__cracker {
        max-width: 450px;
        bottom: 50px;
    }
}
@media (max-width: 1759px) {
    .header-popcorn {
        display: none;
    }
}
@media (max-width: 1529px) {
    .header-bottom__title {
        margin-left: 30px;
    }
    .header-top {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 1519px) {
    .header-bottom__title {
        font-size: 42px;
        margin-top: 150px;
    }
    .header-proj {
        left: 73%;
    }
}
@media (max-width: 1499px) {
    .header-autor__img {
        max-width: 510px;
    }
}
@media (max-width: 1462px) {
    .header__cracker {
        max-width: 400px;
        bottom: 70px;
    }
    .header-bottom__spark {
        max-height: 370px;
    }
    .header-proj {
        left: 70%;
    }
    .header-top {
        padding-left: 100px;
        padding-right: 100px;
    }
    .header-main {
        margin-left: 100px;
    }
    .header-main__title {
        font-size: 42px;
    }
    .header-main__text {
        font-size: 20px;
    }
    .header-bottom__title {
        margin-top: 100px;
    }
    .header-bottom-desc {
        font-size: 18px;
    }
}
@media (max-width: 1399px) {
    .header-autor {
        margin-left: -100px;
    }
    .header-autor__img {
        max-width: 460px;
    }
    .header-top {
        padding-left: 50px;
        padding-right: 50px;
    }
    .header-main {
        margin-left: 50px;
    }
}
@media (max-width: 1356px) {
    .header-bottom__title {
        font-size: 36px;
    }
}
@media (max-width: 1329px) {
    .header-proj {
        left: 69%;
        max-width: 380px;
    }
    .header-top {
        padding-left: 100px;
        padding-right: 100px;
    }
    .header-autor__img {
        max-width: 430px;
    }
    .header-main__title {
        font-size: 38px;
    }
    .header-main__text {
        font-size: 18px;
    }
    .header-main {
        margin-left: 100px;
    }
}
@media (max-width: 1222px) {
    /* .header-bottom-desc {
        font-size: 18px;
    } */
    .header__cracker {
        max-width: 350px;
        bottom: 120px;
    }
}

@media (max-width: 1199px) {
    br {
        display: none;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .header-proj {
        display: none;
    }
    .header-top {
        padding-right: 0;
    }
    .header-top-left {
        /* flex-direction: column; */
    }
    .header-top-left__text {
        margin-left: 20px;
    }
    .header-top-right {
        margin-right: -100px;
    }
    .header-main__title {
        font-size: 34px;
    }
    .header-main__text {
        font-size: 16px;
    }
    .header-main__button {
        margin-top: 35px;
    }
    .header-autor {
        transform: translate(100px, 120px);
    }
    .header-autor-desc {
        top: 52%;
        left: -100%;
    }
    /* .header-autor__desc--title {
        font-size: 18px;
    }
    .header-autor__desc--text {
        font-size: 14px;
        max-width: 170px;
    } */
    .header__cracker {
        max-width: 300px;
        bottom: 140px;
    }
    .header-bottom {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 50px;
    }
}
@media (max-width: 1099px) {
    .header-top-right {
        margin-right: -20px;
    }
    .header-autor {
        margin-left: -150px;
    }
}